{% extends "base.html" %}

{% block content %}
<H1 style="text-align: center;"><strong>Добро пожаловать, {{current_user.name}}</strong></H1>
{% if current_user.access_level == 0 %}
    <H2><strong>Если хочешь администрировать пользователей, то нажми на кнопку ниже:</strong></H2>
    <a class="btn btn-primary " href="/admin_panel/users">Пользователи!</a>
<p>&nbsp;</p>
    <H2><strong>Если хочешь добавить новые теги, то нажми кнопку ниже:</strong></H2>
    <a class="btn btn-primary " href="/admin_panel/Teg">Теги</a>
<p>&nbsp;</p>
    <H2><strong>Если хочешь добавить новую новость, то нажми кнопку ниже:</strong></H2>
    <a class="btn btn-primary " href="/admin_panel/news">Новости</a>
{% endif %}
<br />
{% for d in lis %}

</br>
<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <a href="/art/{{d['id'] }}" class="text-warning" style="text-align: center;">  <H1><strong>{{d['title']}}</strong></H1> </a> </br>
            <H3 style="text-align: right;" href="/profile/{{d['author']}}">Автор: {{d['author_name']}}</H3>
            <H3>Теги:</H3> </br>
            {% for item in d['tags']%}
            <button disabled class="btn btn-secondary">{{item}}</button>
            {% endfor %}
        </div>
        {% if d['status'] == 1 %}
        <a class="btn btn-success " href="/up_article/{{d['id']}}">Опубликовать статью</a>
        {% else %}
        <a class="btn btn-info " href="/down_article/{{d['id']}}">Скрыть статью</a>
        {% endif %}
        <a class="btn btn-danger " href="/lose_article/{{d['id']}}">Заброковать статью</a>
    </div>
</div>
{% endfor %}
{% endblock %}
