{% extends "base.html" %}

{% block content %}
<div id="some_id">
    {% autoescape false %}
    {{text}}
    {% endautoescape %}
</div>
<!--<a class="btn btn-primary " href="/like">Мне нравится</a> <br>-->
<style>
    #some_id {
         background-color: #E6E6FA;
    }
</style>
<H2>Автор: {{name}}</H2>

<div class="col-md-8">
    <div class="card mb-3">
        <div class="card-body">
            <h3>Теги:</h3>
            {% for item in tag%}
            <button disabled class="btn btn-secondary">{{item}}</button>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}