{% extends "base.html" %}
{% block content %}
</br>
<h1 style="text-align: center;"><strong>Упс</strong></h1>
<h3 style="text-align: center;"><strong>Кажется у нас произошла ошибка.</strong></h3>
<h4 style="text-align: center;"><strong>Мы искрене просим прощения, наши специалисты уже занимаются ей.</strong></h4>
<h4 style="text-align: center;"><strong>В ближайщее время мы все исправим, спасибо, что вы с нами!</strong></h4>
<a class="btn btn-info " href="/" style="text-align: center;">Главная страница</a>
{% endblock %}