{% extends "base.html" %}

{% block content %}
<h1>Регистрациzя нового пользователя</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email", placeholder="roman.sulima@example.com") }}<br>
        {% for error in form.email.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password", placeholder="********") }}<br>
        {% for error in form.password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password", placeholder="********") }}<br>
        {% for error in form.password_again.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.s_name.label }}<br>
        {{ form.s_name(class="form-control", placeholder="Sulima") }}<br>
        {% for error in form.s_name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.f_name.label }}<br>
        {{ form.f_name(class="form-control", placeholder="Roman") }}        <br>
        {% for error in form.f_name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.sex.label }}<br>
        {{ form.sex(class="form-control") }}<br>
        {% for error in form.sex.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.country.label }}<br>
        {{ form.country(class="form-control", placeholder="Russian") }}<br>
        {% for error in form.country.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>


    <p>
        {{ form.vk.label }}<br>
        {{ form.vk(class="form-control") }}<br>
        {% for error in form.vk.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>


    <p>
        {{ form.git.label }}<br>
        {{ form.git(class="form-control") }}<br>
        {% for error in form.git.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>


    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}